.profile-container-stats {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: calc(100% - 20px); /* Full width minus 10px margin on both sides */
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  }
  
  .profile-image-stats {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
  }
  
  .profile-text-stats {
  flex: 2;
  color: #a855f7; /* Purple */
  }
  

  .tabs-wrapper-stats {
  display: flex;
  padding: 0 10px;
  margin-top: 20px;
  }
  
  .tab-button-stats {
  padding: 16px 24px;
  color: white;
  background-color: black;
  border: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  margin-right: 4px;
  text-decoration: none; /* <- This removes the underline */
  }
  
  .tab-button-stats.active {
  background-color: gray;
  }

  .profile-bottom-section-stats {
  padding: 0 10px 20px 10px;
  }

  .profile-content-stats {
    background-color: gray;
    padding: 20px 10px;
    margin: 0 10px;
    border-radius: 0 0 12px 12px;
  }


.diary-entry-stats {
  background-color: #363636;
  padding: 16px;
  border-radius: 12px;
  color: #bf8fdf;
}